@font-face {
    font-family: 'ritz';
    src: url(assets/fonts/RitzyNormal.ttf) format('truetype');
}

@font-face {
    font-family: 'playbill';
    src: url(assets/fonts/Playbill.ttf) format('truetype');
}

body {
    background-color: black;
    font-family: serif;
}

.banner {
    background-color: black;
    color: white;
    margin: 0;
    display: inline;
}

.banner img {
    height: 1rem;
}

.banner h3 {
    background-color: black;
    margin: 0;
    padding-top: 0.5rem;
    font-family: serif;
}

.fab {

    margin: 1rem 0.2rem;
}

.bg1 {
    background-image: url("./assets/images/eating.jpg");
    background-position-y: 50%;
    background-position-x: 50%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0rem 5rem;
}

.bg2 {
    background-image: url("./assets/images/bluebear.jpg");
    background-position-y: 35%;
    background-position-x: 50%;
    background-size: 100%;
    height: 25rem;
    background-repeat: no-repeat;
    padding: 1rem 10rem;
    border-bottom: 0.7rem solid white;
}

.logo {
    height: 20rem;
}

.bg2 h1 {
    color: white;
    font-family: serif;
    text-align: left;
    text-shadow: 2px 2px black;
    margin: 3rem 3rem;
}



.content {
    text-align: center;
    padding-top: 2rem;
}

.content h1 {
    font-size: 5rem;
    text-shadow: 2px 2px darkgrey;
}

.content h2 {
    font-size: 2rem;
    text-shadow: 1px 1px white;
    font-family: serif;
}

.content h3 {
    color: white;
    text-shadow: 2px 2px black;

}

.map {
    overflow: hidden;
    margin: 1rem;

}

.map p {
    color: white;
    text-shadow: 2px 2px black;
    font-size: 1.2rem;
}

.map li {
    color: white;
    list-style-type: none;
    text-shadow: 2px 2px black;
    font-size: 1.2rem;
}

#map {
    height: 30rem;
    width: 30rem;
    margin: auto;
    margin-bottom: 1rem;
}

.border {
    background-color: #666;
    opacity: 0.5;
}

.menu {
    margin-top: 1rem;
    padding-bottom: 1rem;
    overflow: hidden;
    width: 100%;
}

.menu h3 {
    background: yellow;
    color: black;
    font-family: "playbill";
    font-size: 3.5rem;
    text-shadow: none;
    width: 90%;
    border: 1px solid black;
    margin: auto;
    margin-top: 1rem;
}

.menu ul {
    margin: auto;
    width: 90%;
    list-style-type: none;
    background-color: white;


}

.menu li {
    font-size: 2rem;
}

.contact {
    margin: auto;
    width: 50%;
    margin-top: 1rem;
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 1.2rem;
}


#form p {
    display: flex;
    justify-content: center;

}

.about {
    margin: auto;
    width: 100%;
    margin-top: 1rem;
}

.about p {
    color: white;
    text-shadow: 1px 1px black;
    font-size: 1.2rem;
    text-align: center;

}